@import './colors.css';
@import './fonts.css';
@import './reset.css';
@import './icons.css';

body {
  background-color: #f7f7f7;
}

*:has(> .container) {
  display: flex;
  justify-content: center;
}

#root {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1640px;
  padding: 0 20px;
  width: 100%;
}

input {
  height: 36px;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid #48024E;
}

input:focus {
  border-color: #74047d;
}

h3 {
  font-size: 40px;
  line-height: 52px;
}

h4 {
  font-size: 32px;
  line-height: 40px;
}

@media(max-width: 1200px) {
  .container {
    max-width: 840px;
  }
}

@media(max-width: 768px) {
  .container {
    padding: 0 4px;
  }
}