html {
    --color-white: #fff;
    --color-white-50: #ffffff80;
    --color-white-dark: #F4F6F8;
    --color-white-light: #FCFDFD;
    --color-disabled: #BDC7CE;
    --color-sitemap-span: #24578A;
    --color-gray: #707070;
    --color-gray-medium-light: #DCE2E8;
    --color-gray-light: #EFEFEF;
    --color-gray-hr: #D8D9D8;
    --color-gray-border: #F1F1F1;
    --color-gray-background: #F2F5F7;
    --color-gray-background2: #F5F5F5;
    --color-blue: #00588E;
    --color-blue-hover: #1D7AB4;
    --color-blue-medium-light: #61809C;
    --color-blue-medium-light-transition: #61809Cb3;
    --color-blue-medium-light-half: #61809C50;
    --color-blue-dark: #003462;
    --color-blue-dark-inactive: #00346250;
    --color-blue-light: #2699D5;
    --color-blue-light-70: #2699D5b3;
    --color-orange: #C08C61;
    --color-yellow: #fff5cc;
    --color-crimson: #CB335E;
    --color-crimson-transporent: #D3587B;
    --color-success: #3ad321;
    --color-lift-main-dark: #8B6649;
    --color-lift-main-light: #A57651;
    --color-lift-main-dark-70: #8b6649b3;
    --color-lift-main-medium: #AC7B55;
    --color-lift-hr: #D9BAA0;
    --color-lift-hr-70: #D9BAA0b3;
    --color-lift-blue-dark: #05284C;
    --color-lift-blue-dark-80: #05284ccc;
    --color-lift-transparent: #B7C6D3;
    --color-lift-orange-transporant: #8b66491a;
} 